In [1]:
a=010
b=10

In [2]:
print a

8

In [3]:
print b

10

In [4]:
c=0xa

In [5]:
c

10

In [7]:
b=0b01

In [8]:
b

1

In [9]:
b=0b123

SyntaxError: invalid syntax (<ipython-input-9-9696f683fea9>, line 1)

In [10]:
b=0o765

In [11]:
b

501

In [12]:
b=0o89

SyntaxError: invalid token (<ipython-input-12-2fdb412f3a63>, line 1)

In [13]:
a=0xf

In [14]:
a

15

In [15]:
a=0xs

SyntaxError: invalid token (<ipython-input-15-e7b139233f77>, line 1)

In [16]:
int?

In [17]:
int(23.45)

23

In [18]:
int("23.45")

ValueError: invalid literal for int() with base 10: '23.45'

In [19]:
int(1+2j)

TypeError: can't convert complex to int

In [20]:
int("23.45")

ValueError: invalid literal for int() with base 10: '23.45'

In [21]:
f=float("23.45")

In [22]:
f

23.45

In [23]:
int(f)

23

In [24]:
int("abc")

ValueError: invalid literal for int() with base 10: 'abc'

In [26]:
int("abc",16)

2748

In [27]:
int("abc",13)

1845

In [28]:
print 12*13**0+11*13**1+10*13**2

1845

In [29]:
10>20

False

In [30]:
30<40

True

In [31]:
10>20 and 30<40

False

In [32]:
10>20 or 10<5

False

In [33]:
10>5 and 5<10

True

In [34]:
a=10
b=10.0

In [35]:
a==b

True

In [36]:
a is b

False

In [37]:
a=10
b=a

In [38]:
print id(a),id(b)

19480736 19480736

In [39]:
a==b

True

In [40]:
a is b

True

In [41]:
l=[1,2,3,4]
l1=[1,2,3,4]
print l==l1
print l is l1

True
False

In [42]:
"py" in "python"

True

In [43]:
"12">"3"

False

In [44]:
"12">2**200

True

In [46]:
a=2**200
print type(a)

<type 'long'>

In [47]:
a

1606938044258990275541962092341162602522202993782792835301376L

In [48]:
name="python"
age=28
height=5.6

In [49]:
# Name: python, Age: 28, Height: 5.6

In [50]:
print "Name=",name

Name= python

In [51]:
print "name="+name

name=python

In [52]:
print "name= "+name

name= python

In [53]:
# Name: python, Age: 28, Height: 5.6
name="python"
age=28
height=5.6
res  ="Name: "+name+", Age: "+age+", Heighht"+height
print res

TypeError: cannot concatenate 'str' and 'int' objects

In [54]:
# Name: python, Age: 28, Height: 5.6
name="python"
age=28
height=5.6
res  ="Name: "+name+", Age: "+str(age)+", Heighht"+height
print res

TypeError: cannot concatenate 'str' and 'float' objects

In [55]:
# Name: python, Age: 28, Height: 5.6
name="python"
age=28
height=5.6
res  ="Name: "+name+", Age: "+str(age)+", Heighht"+str(height)
print res

Name: python, Age: 28, Heighht5.6

In [56]:
# \n \t
res="line1 \n line2 \t tabspace"
print res

line1
 line2 	 tabspace

In [57]:
s="line1 line2"
print len(s)

11

In [58]:
s="line1\nline2"
print len(s)

11

In [59]:
s="\n\t\n"
print len(s)

3

In [60]:
# it's a cool day
print "it's a cool day"

it's a cool day

In [61]:
# it's a cool day
print 'it's a cool day'

SyntaxError: invalid syntax (<ipython-input-61-c92531e46ab5>, line 2)

In [62]:
# it"s a cool day
print 'it"s a cool day'

it"s a cool day

In [63]:
# it's a "cool" day
print 'it's a "cool" day'

SyntaxError: invalid syntax (<ipython-input-63-1b467f9acdd7>, line 2)

In [64]:
# it's a "cool" day
print "it's a "cool" day"

SyntaxError: invalid syntax (<ipython-input-64-bb0c6ac41c00>, line 2)

In [65]:
# it's a "cool" day
print "it's a \"cool\" day"

it's a "cool" day

In [67]:
# it's a cool day
print 'it\'s a coolday'

it's a coolday

In [69]:
# line1 \n line2
print "line1 \n line2"

line1
 line2

In [70]:
# line1 \n line2
print "line1 \\n line2"

line1 \n line2

In [71]:
s="line1\nline2\ttabspalce\nfewmorelines\nfewmoretabs\tsdfsd"
print s

line1
line2	tabspalce
fewmorelines
fewmoretabs	sdfsd

In [73]:
s=r"line1\nline2\ttabspalce\nfewmorelines\nfewmoretabs\tsdfsd"
print s

line1\nline2\ttabspalce\nfewmorelines\nfewmoretabs\tsdfsd

In [74]:
print "%s%d%x%e%f"

%s%d%x%e%f

In [75]:
# Name: python, Age: 28, Height: 5.6
name="python"
age=28
height=5.6
res  ="Name: %s, Age: %d, Height: %f",(name,age,height)
print res

('Name: %s, Age: %d, Height: %f', ('python', 28, 5.6))

In [76]:
# Name: python, Age: 28, Height: 5.6
name="python"
age=28
height=5.6
res  ="Name: %s, Age: %d, Height: %f"%(name,age,height)
print res

Name: python, Age: 28, Height: 5.600000

In [77]:
# Name: python, Age: 28, Height: 5.6
name="python"
age=28
height=5.6
res  ="Name: %s, Age: %d, Height: %f"%(12,"rwerw",34.56)
print res

TypeError: %d format: a number is required, not str

In [78]:
# Name: python, Age: 28, Height: 5.6
name="python"
age=28
height=5.6
res  ="Name: %s, Age: %d, Height: %f"%(12,2345,34.56)
print res

Name: 12, Age: 2345, Height: 34.560000

In [79]:
# Name: python, Age: 28, Height: 5.6
name="python"
age=28
height=5.6
res  ="Name: %s, Age: %d, Height: %f"%(1,2,3)
print res

Name: 1, Age: 2, Height: 3.000000

In [80]:
print "%x"%2345

929

In [81]:
print "%o"%2345

4451

In [83]:
print "%e"%2345

2.345000e+03

In [87]:
print "%X"%2345
print "%E"%2345
print "%o"%2345

929
2.345000E+03
4451

In [91]:
f=23.456789
print "%.2f"%f

23.46

In [92]:
f=23.456789
print "%.3f"%f

23.457

In [93]:
f=23.456789
print "%+6.3f"%f

+23.457

In [94]:
f=23.456789
print "%-6.3f"%f

23.457

In [96]:
f=23.456789
print "%06.3f"%f,"fdsfsdfsd"

23.457 fdsfsdfsd

In [97]:
f=23.456789
print "%08.3f"%f,"fdsfsdfsd"

0023.457 fdsfsdfsd

In [98]:
f=23.456789
print "%+8.3f"%f,"fdsfsdfsd"

 +23.457 fdsfsdfsd

In [99]:
f=23.456789
print "%-8.3f"%f,"fdsfsdfsd"

23.457   fdsfsdfsd

In [101]:
f=23.456789
print "%08.3f"%f,"fdsfsdfsd"

0023.457 fdsfsdfsd

In [102]:
d=23
print "%2d"%d

23

In [103]:
d=23
print "%5d"%d

   23

In [104]:
d=23
print "%05d"%d

00023

In [105]:
d=23
print "%b"%d

ValueError: unsupported format character 'b' (0x62) at index 1

In [106]:
d=10
print "%b"%d

ValueError: unsupported format character 'b' (0x62) at index 1